@* <div class="top-row ps-3 navbar navbar-dark"> *@
@*     <div class="container-fluid"> *@
@*         <a class="navbar-brand" href="">RecyclingImageRecognizerContraption</a> *@
@*     </div> *@
@* </div> *@

@* <input type="checkbox" title="Navigation menu" class="navbar-toggler" /> *@

<div class="bottom-nav">
    <button @onclick="TakePhoto" class="nav-button">
        <i class="fas fa-camera"></i>
        <span>Camera</span>
    </button>

    <button @onclick="ShowFilePicker" class="nav-button">
        <i class="fas fa-file"></i>
        <span>File</span>
    </button>
</div>



@code {
    [Parameter] public EventCallback OnTakePhoto { get; set; }
    [Parameter] public EventCallback OnShowFilePicker { get; set; }

    private async Task TakePhoto() => await OnTakePhoto.InvokeAsync();
    private async Task ShowFilePicker() => await OnShowFilePicker.InvokeAsync();


}

