@page "/"


@inject IJSRuntime JS

@code{
    private string? imagePath;

    private async Task TakePhoto()
    {
        var photo = await MediaPicker.CapturePhotoAsync();
        if (photo != null)
        {
            var stream = await photo.OpenReadAsync();
            var filePath = Path.Combine(FileSystem.CacheDirectory, photo.FileName);

            using var fileStream = File.OpenWrite(filePath);
            await stream.CopyToAsync(fileStream);

            imagePath = filePath;
        }
    }
}



@if (!string.IsNullOrEmpty(imagePath))
{
    <img src="@imagePath" alt="Captured Photo" style="width: 200px;" />
}

<h1>Recycling Recognition app</h1>


<div style="position: fixed; bottom: 20px; left: 50%; transform: translateX(-50%);">
    <button @onclick="TakePhoto" style="padding: 10px 20px; font-size: 18px;">Take Photo</button>
</div>
