@page "/ViewItem/{Name}"
@inject LaPorteService LaPorteService

@using RecyclingImageRecognizerContraption.Resources.Models
@using RecyclingImageRecognizerContraption.Resources.DatabaseService;

<h3>Item Details: @item?.Name</h3>

@if (item == null)
{
    <p>Loading...</p>
}
else
{
    <div class="item-details">
        <p><strong>Name:</strong> @item.Name</p>
        <p><strong>Category:</strong> @item.Category</p>
        <p><strong>Description:</strong> @item.DescriptionText</p>
        <p><strong>IsRecyclable:</strong> @(item.IsRecyclable ? "Yes" : "No")</p>
        
    </div>
}

@code {
    [Parameter] public string Name { get; set; } = string.Empty;

    private LaPorte? item;

    protected override async Task OnInitializedAsync()
    {
        var all = await LaPorteService.GetItemsAsync();
        item = all.FirstOrDefault(x => x.Name == Name);
    }
}
